data/Archaea
data/Bacteria
data/Eukaryotes
data/supplemental
data/*.bad
.vscode
*error_report.pdf
aars_algorithms_fast.cp36-win_amd64.pyd
aars_algorithms_fast.c
__pycache__
*.fasta.csv
data/data.zip
*.fasta.json
*tmp.html